<h3>{{ .movietitle }} </h3>
<ul class="list-group">
    {{ range .theatres }}
    <li class="list-group-item">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <strong>{{ .Name }}</strong> - {{ .Location }}
            </div>
            <button class="btn btn-primary btn-sm" hx-post="/book-ticket" hx-vals='{"movie": "{{ $.movietitle }}", "theatre": "{{ .Name }}"}' hx-target="#booking-details">
                Book Ticket Now
            </button>
        </div>
    </li>
    {{ end }}
</ul>
<div id="booking-details"></div>